<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-connection-status [device]="bleService.currentDevice" ></app-connection-status>

  <ion-card class="gestureBox" >
    
  </ion-card>
  <ion-card class="notConnected">
    <ion-card-content>
      Device not connected. Connect to a device!
    </ion-card-content>
  </ion-card> 
</ion-content>